section{
	width:600px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-evenly;
	
}
article{
	background-color:#f7d1d1;
	margin: 10px;

}
.article2{
	flex-grow:2;
}
.container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}